In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("Advertising.csv")
df.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [8]:
x = df.drop(['sales', 'Unnamed: 0'], axis = 1)
y = df['sales'].values.reshape(-1,1)

In [10]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 1/3, random_state=1)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(133, 3)
(67, 3)
(133, 1)
(67, 1)

In [11]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train, y_train)

LinearRegression()

In [13]:
y_pred = lr.predict(x_test)
print(y_pred)

[[21.78492012]
 [16.40644258]
 [ 7.61494262]
 [17.71059966]
 [18.57129341]
 [23.83642771]
 [16.377552  ]
 [13.40725088]
 [ 9.24061931]
 [17.32472242]
 [14.46300377]
 [ 9.9191538 ]
 [17.18065514]
 [16.87207411]
 [14.99046253]
 [15.7100857 ]
 [12.4588611 ]
 [17.05384373]
 [11.26111988]
 [18.01814264]
 [ 9.31224193]
 [13.12008026]
 [ 8.93087681]
 [10.4605692 ]
 [11.42817147]
 [14.97344628]
 [ 9.9103904 ]
 [19.37483809]
 [18.26393319]
 [17.07992724]
 [21.57661812]
 [14.61202958]
 [16.3212683 ]
 [12.29419949]
 [19.91265543]
 [15.32918515]
 [13.80979375]
 [10.02678787]
 [20.98475808]
 [ 7.56704359]
 [ 3.70730121]
 [ 7.22584882]
 [ 6.0894444 ]
 [18.46187075]
 [ 8.54551711]
 [14.12347813]
 [15.18227237]
 [20.38469816]
 [20.6361432 ]
 [19.61463175]
 [24.11912978]
 [14.94114121]
 [ 6.82872286]
 [19.94425575]
 [18.77301794]
 [12.42359049]
 [14.04486138]
 [ 6.19956959]
 [15.18742849]
 [ 9.70960394]
 [12.02434459]
 [12.01227087]
 [ 8.67614236]
 [21.46601026]
 [23.26214035]
 [12.51746047]
 [ 6.65508577]]

In [14]:
from sklearn.metrics import mean_squared_error
import math
mse = mean_squared_error(y_test, y_pred)
print(mse)
rmse = math.sqrt(mse)

2.3292134140433705

In [15]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, y_pred)
print(mae)

1.1326600185246798

In [16]:
from sklearn.metrics import r2_score
rsq = r2_score(y_test, y_pred)
print(rsq)

0.9135750792876489